@{
    
}

<div class="jumbotron">
    <h1>GoGo - Your Transportation App</h1>
    <p class="lead">Have some thing bla bla bla!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Have some thing bla bla bla!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Become a Driver for us and Earn more</h2>
        <p>Have some thing bla bla bla!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ride with our best Drivers</h2>
        <p>Have some thing bla bla bla!</p>
        <p>@Html.ActionLink("Learn more>>", "RegistrationCustomer", "Home")</p>
    </div>
</div>